.carImg {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

#Topbar {
  height: 18vh;
  width: 100%;
  border: 10px solid rgb(5, 30, 60);
  padding: 5px;
  background-color: #9e9e9e;
}

.outlined-heading {
  color: red;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

#RYME {
  font-size: 43px;
  font-weight: bolder;
  font-family: Impact, fantasy;
}

#carouselDiv {
  height: 100vh;
  padding-top: 20vh;
}

.thumbs-animated {
  display: none;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box {
  border: 1px solid #000000;
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 80%;

}

.info-box {
  border: 1px solid #000000;
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 80%;
}



.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#starterLogo {
  font-size: 48px;
}

#RYME {
  color: rgb(79, 0, 152);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#menuContainer {
  display: flex;
  align-items: center;
}

#menuContainer>div {
  margin-right: 10px;
}

.info-container {
  color: black;
}

li {
  height: auto;
}

img {
  width: 200px;
  object-fit: cover;
  border: 2px solid #000;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('https://media0.giphy.com/media/YqhIK6Gbor6CLeloBq/200w.gif?cid=6c09b952i4rrlcz6kmxksjjpgk4xzcms7r0obyw9pj616iwn&ep=v1_gifs_search&rid=200w.gif&ct=g');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}

#addNewFormRed {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  align-items: center;
}


.submiter {
  opacity: 80%;
  background: none;
  font-weight: bold;
}

.add-data-form {
  align-content: center;

}


.addNewData {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

/* In your CSS stylesheet
.blackLine {
  border: px solid rgb(5, 30, 60); 
  margin: 20px 0; 
} */

#nicknames{
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

}